<html>
	<head>

		<style>
            body{
					background: linear-gradient(to bottom, #0000ff 0%, #cc00ff 100%);
				}
                .white{
				    color: white;
				}
                .text{
                    margin: auto;
                    width: 50%;
                    padding: 10px;
                    text-align: center;
                }
                input[type=email] {
				  width: 50%;
				  padding: 8px 8px;
				  margin: 6px 0;
				  box-sizing: border-box;
				}
				input[type=text] {
				  width: 50%;
				  padding: 8px 8px;
				  margin: 6px 0;
				  box-sizing: border-box;
				}

				input[type=password] {
				  width: 52.5%;
				  padding: 8px 8px;
				  margin: 6px 0;
				  box-sizing: border-box;
				}
                .button1{
				  background-color: #FF00FF;
				  border: none;
				  color: white; 
				  border-radius: 4px;
				  transition-duration: 0.4;
				  padding: 24px 16px;
				  cursor: pointer;

				}

				.button1:hover{
				  background-color: #f44336;;
				  color: white;
				}
				.button1:active {
				  background-color: ##FF00FF;
				  box-shadow: 0 5px #666;
				  transform: translateY(4px);
				}
				a:visited{
					color: white;
				}
        </style>
	</head>
	<body class="white text">
		<h1> Register </h1> 
		<form action = '/register' method = 'POST' > 
		<h4> A user with that email already exists. Please use a different email.<h4>
			<div> 
				<label for = 'name' ><b> Name:</b> </label> 
				<input type = 'text' id = 'name' name = 'name' required > 
			</div> 
			<div> 
				<label for = 'email' > <b>Email:</b> </label> 
				<input type = 'email' id = 'email' name = 'email' required > 
			</div> 
			<div> 
				<label for = 'password' ><b>Password:</b>  </label> 
				<input type = 'password' id = 'password' name = 'password' required > 
			</div> 
			<button class = "button1" type = 'submit' > Register </button> 
			<button class="button1 white"> <a class="white" href = '/login' > Login </a> </button>
		</form> 

		
	</body>
</html>